html{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	font-family: avenir;
	color: #dbdccc;
	background-color: #dbdccc;
}
.banner{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	overflow: hidden;
}
h1{
	margin: 0;
	padding: 0;
	font-size: 36px;
	line-height: 36px;
	color: #efedcf;
}


h2{
	font-size: 18px;
	color: #2d143c;
	font-style: italic;
	font-weight: normal;
}
ul li{
	font-size: 24px;
	text-transform: uppercase;

}
p a{
	color: black;
	background-color: #d42d41;
	display: inline-block;
	padding: 16px;
	border-radius: 4px;
}
.banner-wrapper{
	padding-top: 15vh;
	margin: 0 auto;
	font-weight: bold;
	font-size: 120px;
	transform: rotate(-23deg);
	text-shadow: -6px 5px 0 #f78d75;
	line-height: 110px;

}
.banner-wrapperer{
	width: 50vw;
	max-width: 700px;
	margin: 0 auto;
}
.banner-wrapper p{
	text-align: center;
	color: rgba(255,255,255,1);
	font-size: 12px;
	font-style: italic;
}
.banner-wrapper h1{
	text-align: center;
	color: rgba(255,255,255,0.9);

}

.content{
	max-width: 700px;
	min-width: 300px;
	margin: -40vh auto 0 auto;
}
@media screen and (max-width: 400px) {

}
